/* LIGHT/DARK THEME */

html[data-theme="light"] {
    --text: black;

    --color-red: rgb(140,0,0);
    --color-blue: rgb(90,150,200);
    --color-green1: rgb(70,120,90);
    --color-green2: rgb(110,170,140);

    --menu-item-hover: rgb(170,170,170);

    --background: white;
    --background-menu: rgba(255,255,255,0.95);
    --background-button: rgb(235,235,235);
}

html[data-theme="dark"] {
    --text: rgba(255,255,255,0.95);

    --color-green1: rgb(125, 225, 175);
    --color-green2: rgb(210,250,210);

    --color-red: rgb(255,90,90);
    --color-blue: rgb(100,160,200); 

    --menu-item-hover: rgb(169,169,169);

    --background: rgb(20,20,20);
    --background-menu: rgba(200,200,200,0.9);
    --background-button: rgb(50,50,50);
}

/* NAVIGATION MENU ITEMS*/

nav {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10vw 0 10vw;
}

.navbar ul{
    padding: 0;
}

.menu-items {
    display: flex;
    flex-direction: row;
}

.menu-items li {
    list-style: none;
}

.menu-items a {
    color: var(--text);

    padding: 2px 10px;
    margin: 0px 10px;

    border-bottom: 2px solid var(--background);
    text-decoration: none;
}

.active {
    color: var(--color-red) !important;
}

.menu-items a:visited {
    color: var(--text);
}

.menu-items a:hover {
    border-color: var(--menu-item-hover);
}

/* NAVIGATION SIDEBAR BUTTON */

#sidebar-toggle {
    display: none;
}

.sidebar-button-container {
    z-index: 1;

    visibility: hidden;
    width: 25px;
    height: 20px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-button,
.sidebar-button::before,
.sidebar-button::after {
    display: block;
    position: absolute;
    height: 2px;
    width: 25px;

    border-radius: 10px;
    transition: transform 350ms;
    background-color: var(--text);
}

.sidebar-button-container:not(.no-hover):hover .sidebar-button,
.sidebar-button-container:not(.no-hover):hover .sidebar-button::before,
.sidebar-button-container:not(.no-hover):hover .sidebar-button::after {
    background-color: var(--color-red);
}

.sidebar-button::before {
    margin-top: -8px;
    content: "";
}

.sidebar-button::after {
    margin-top: 8px;
    content: "";
}

#sidebar-toggle:checked + .sidebar-button-container .sidebar-button {
    background-color: transparent;
}

#sidebar-toggle:checked + .sidebar-button-container .sidebar-button::before {
    transform: translate3d(0,8px,0) rotate(-45deg);
    transform-origin: center;
}

#sidebar-toggle:checked + .sidebar-button-container .sidebar-button::after {
    transform: translate3d(0,-8px,0) rotate(45deg);
    transform-origin: center;
}

@media only screen and (max-width: 700px)  {
    .navbar {
        margin: 0;
        justify-content: space-between;
    }

    .navbar ul{
        padding-top: 80px;
    }

    .menu-items {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 0;
        margin: 0;
        padding: 0;
        padding-top: 30px;
        overflow: hidden;

        flex-direction: column;
        justify-content: flex-start;
        align-items: left;

        background-color: var(--background-menu);
        transition: width 350ms, padding 350ms;
    }

    .menu-items li {
        width: 100%;
        text-align: left;
        padding: 30px 10px 0 0;

        opacity: 0;
        transition: opacity 350ms;
    }

    .menu-items a {
        border-bottom: none;
    }

    .sidebar-button-container {
        visibility: visible;

        margin: 10px 15px 0 10px;
    }

    #sidebar-toggle:checked ~ .menu-items {
        width: 50vw;
    }

    #sidebar-toggle:checked ~ .menu-items li {
        opacity: 1;
    }
}

/* HEADER */

h1 {
    text-align: center;
    font-weight: 300;
}

@media only screen and (max-width: 700px)  {
    h1 {
        margin-top: 0px;
    }
}

/* TEXT */

body {
    color: var(--text);
    font-family: 'Lato', sans-serif;

    background-color: var(--background);
}

main {
    margin: 0 15vw;
}

p {
    line-height: 1.5;
}

.inline-link {
    color: var(--color-blue);
    text-decoration: none;
}

.inline-link:visited {
    color: var(--color-blue);
}

.inline-link:hover{
    color: var(--color-red);
}

main a {
    color: var(--color-green1);
}

main a:visited {
    color: var(--color-green2);
}

.circle-picture {
    border-top-left-radius: 50% 50%; 
    border-top-right-radius: 50% 50%; 
    border-bottom-right-radius: 50% 50%; 
    border-bottom-left-radius: 50% 50%; 

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media only screen and (max-width: 700px)  {
    main {
        margin: 0 2vw;
    }

    .circle-picture {
        width: 75%
    }
}

/* LIGHT DARK BUTTON */

.theme-button {
    display: flex;
}

#themebutton {
    color: var(--text);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;

    border-color: var(--color-blue);
    border-style: solid;
    border-radius: 0;
    
    background-color: var(--background-button);

    display: inline-block;
    width: 50px;
    height: 31px;

    cursor: pointer;
}

@media only screen and (max-width: 700px)  {
    .theme-button {
        margin-top: 10px;
    }

    #themebutton {
        font-size: 12px;
    }
}

/* FOOTER */

.container {
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    justify-content: space-between;
}

footer {
    text-align: center;
}

footer p{
    margin: 0;
}