/* NAVIGATION */

nav {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

nav a {
    display: inline-grid;
    padding: 2px 10px;
    margin: 0px 10px;

    color: black;
    text-decoration: none;

    border-bottom: 2px solid white;
}

nav a:hover {
    border-color: rgb(169,169,169);
}

nav a:visited{
    color: black;
}

.active {
    color: rgb(139,0,0) !important;
}

@media only screen and (max-width: 700px)  {
    nav {
        display: grid;
	    grid-template-columns: repeat(3, 1fr);
	    grid-template-rows: auto;
    }

    nav a {
        padding: 2px 5px;
        margin: 0 20px;
    }
}

/* DARK MODE */

.dark-mode {
    background-color: #121212;
    color: white;
    opacity: 90%;
}

.dark-mode nav a {
    color: white;
    opacity: 90%;
    border-bottom: 2px solid #121212;

}

/* HEADER */

h1 {
    text-align: center;
    font-weight: 300;
}

/* TEXT */

body {
    font-family: 'Lato', sans-serif;
}

main {
    margin: 0 15vw;
}

@media only screen and (max-width: 700px)  {
    main {
        margin: 0 2vw;
    }
}

/* FOOTER */

.container {
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    justify-content: space-between;
}

footer {
    text-align: center;
}

footer p{
    margin: 0;
}

/* ABOUT */

h3 a{
    text-decoration: none;
    color: black
}

h3 a:hover {
    color: rgb(139,0,0) !important;
}

h3 a:visited{
    color: black;;
}