/* NAVIGATION */

nav {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

nav a:hover {
    border-color: rgb(169,169,169);
}

nav a:visited {
    color: black;
}

.active {
    color: rgb(139,0,0) !important;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-items {
    display: flex;
    flex-direction: row;
}

.menu-items li {
    list-style: none;
}

.menu-items a {
    padding: 2px 10px;
    margin: 0px 10px;

    color: black;
    text-decoration: none;

    border-bottom: 2px solid white;
}

#sidebar-toggle {
    display: none;
}

.sidebar-button-container {
    z-index: 1;

    visibility: hidden;
    width: 25px;
    height: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-button,
.sidebar-button::before,
.sidebar-button::after {
    display: block;
    position: absolute;
    height: 2px;
    width: 25px;

    border-radius: 10px;
    transition: transform 350ms;
    background-color: black;
}


.sidebar-button-container:hover .sidebar-button,
.sidebar-button-container:hover .sidebar-button::before,
.sidebar-button-container:hover .sidebar-button::after {
    background-color: rgb(139,0,0);
}

.sidebar-button::before {
    margin-top: -6px;
    content: "";
}

.sidebar-button::after {
    margin-top: 6px;
    content: "";
}

#sidebar-toggle:checked + .sidebar-button-container .sidebar-button {
    background-color: transparent;
}

#sidebar-toggle:checked + .sidebar-button-container .sidebar-button::before {
    transform: translate3d(0,6px,0) rotate(-45deg);
    transform-origin: center;
}

#sidebar-toggle:checked + .sidebar-button-container .sidebar-button::after {
    transform: translate3d(0,-6px,0) rotate(45deg);
    transform-origin: center;
}

@media only screen and (max-width: 700px)  {
    .navbar {
        justify-content: left;
    }

    .menu-items {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;

        flex-direction: column;
        justify-content: flex-start;
        align-items: left;

        background-color: rgba(255,255,255,0.9);
    }

    .menu-items li {
        width: 100%;
        text-align: left;

        opacity: 0;
    }

    .sidebar-button-container {
        visibility: visible;

        padding: 20px 0 0 10px;
    }

    #sidebar-toggle:checked ~ .menu-items {
        padding-top: 5vh;
        width: 40vw;

        transition: width 350ms;
        
    }

    #sidebar-toggle:checked ~ .menu-items li {
        width: 40vw;
        padding: 5vh 10px 0 0;

        opacity: 1
    }
}

/* DARK MODE */

.dark-mode {
    background-color: #121212;
    color: white;
    opacity: 90%;
}

.dark-mode nav a {
    color: white;
    opacity: 90%;
    border-bottom: 2px solid #121212;

}

/* HEADER */

h1 {
    text-align: center;
    font-weight: 300;
}

@media only screen and (max-width: 700px)  {
    h1 {
        margin-top: 0px;
    }
}

/* TEXT */

body {
    font-family: 'Lato', sans-serif;
}

main {
    margin: 0 15vw;
}

@media only screen and (max-width: 700px)  {
    main {
        margin: 0 2vw;
    }
}

/* FOOTER */

.container {
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    justify-content: space-between;
}

footer {
    text-align: center;
}

footer p{
    margin: 0;
}

/* ABOUT */

h3 a{
    text-decoration: none;
    color: black
}

h3 a:hover {
    color: rgb(139,0,0) !important;
}

h3 a:visited{
    color: black;;
}