/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 8px;
    color: darkblue;
}

/* header */

.header {
    text-align: center;
    font-weight: bold;
}

.header h1 {
    font-size: 1.2em;
    text-transform: uppercase;
}

.header .lg {
    font-size: 1.7em;
}

.header .sm {
    font-size: 0.7em;
}

.address {
    font-size: 0.85em;
}

/* content */
table {
    width: 90%;
    margin: auto;
}

td {
    height: 50px;
    width: 50%;
}

td > ul, td > small {
    margin-left: 50px;
}

.footnote {
    font-size: .83em;
}

.footer {
    font-size: .82em;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* other */

a {
    color: purple
}

a:visited {
    color: red;
}

small {
    font-size: 0.65em;
}

.bigboy{
    margin-top: 80px;
}
